<!DOCTYPE html>
<html>
<head>
  <title>Feed</title>
  <%= stylesheet_link_tag    "feed/application", :media => "all" %>
  <%= javascript_include_tag "feed/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
