<h1>Feeds</h1>

<h2>News</h2>
<% get_feeds %>
<% @sorted_items.each do |item| %>
  <small>(<%= item[:item].date.strftime('%H:%M %d/%m/%Y') %>)</small>
  <small><%= link_to item[:parent].channel.title, item[:parent].channel.link %></small> -
  <strong><%= link_to item[:item].title, item[:item].link, :target => "_blank" %></strong> <br />
<% end %>
